.projects {
  display: flex;
  flex-direction: column;
  margin-top: 25vh;
  color: white;
  padding: 10%;
}

.projectDescription {
  display: flex;
  height: 700px;
  gap: 5%;
  width: 100%;
  justify-content: space-between;
}

.imageContainer {
  position: relative;
  height: 100%;
  width: 40%;
}

.imageContainer img {
  object-fit: cover;
}

.column {
  width: 20%;
  display: flex;
  font-size: 1.5vw;
}

.column:last-of-type {
  font-size: 1vw;
  align-items: flex-end;
}

.projectList {
  margin-top: 200px;
  display: flex;
  flex-direction: column;
}

.projectEl {
  display: flex;
  justify-content: flex-end;
  border-top: 1px solid white;
  font-size: 4vw;
  text-transform: uppercase;
  font-weight: 700;
}
.projectEl:last-of-type {
  border-bottom: 1px solid white;
}
.projectEl p {
  margin: 0px;
  margin-top: 40px;
  margin-bottom: 20px;
}
